@import url('https://fonts.googleapis.com/css?family=Poppins');

.row {
  color: black;
}

.secao {
  margin-top: 2.5%;
  margin-bottom: 3.5%;
  font-weight: 600;
}

.secaoItem {
  margin-top: 3.5%;
  margin-bottom: 2.5%;
}

.itens {
  margin-left: 4%;
  margin-bottom: 1.5%;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 400px){
  .sites {
    margin-top: 20px;
    margin-bottom: 26px;
  }

  .itens {
    margin-top: 18px;
    margin-bottom: 16px;
  }
}
